/* ---------------------------------------------=/*Navbar Start here/=----------------------------------------------- */
.north-star-navbar-cls {
    background-color: #173452;
    height: 117px;
    line-height: 400%;
}

.north-star-logo {
    width: 81.99px;
    height: 70px;
    position: relative;
}

.north-star-logo-txt{
    padding-left: 50px;
    color: white;   
    font-size: 32px;
}
.north-star-logo-txt::before{
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    transform: rotate(90deg);
    background: #869AB8;
    left: 11.7%;
    top: 8%;
    position: absolute;
}
.north-star-nav-heading {
    padding-top: 10px;
    color: #869AB8;
    font-size: 20px;
}
/* ---------------------------------------------=/Navbar ends here/=----------------------------------------------- */



/* ---------------------------------------------=/*Footer-main start from here /=----------------------------------------------- */
.footer-main {
    background-color: #173452;

}
.foot-north-star-logo {
    width: 50px;
    height: 40px;
}
.foot-main-copy-right{
    color:#869AB8 !important;
    size: 20px;
}
.foot-txt-cls {
    padding-top: 10px
}
/* ---------------------------------------------=/Footer-main ends here/=----------------------------------------------- */




/* ---------------------------------------------=/* /=----------------------------------------------- */
/* ---------------------------------------------=//=----------------------------------------------- */


/* ---------------------------------------------=/* /=----------------------------------------------- */
/* ---------------------------------------------=//=----------------------------------------------- */


/* ---------------------------------------------=/* /=----------------------------------------------- */
/* ---------------------------------------------=//=----------------------------------------------- */


/* ---------------------------------------------=/* /=----------------------------------------------- */
/* ---------------------------------------------=//=----------------------------------------------- */